<!DOCTYPE html>
<html>
<head>
	<title>InnKeeper</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body ng-app="mainApp">
	<div ng-controller="NavbarCtrl">
	<!-- SAVE FOR LATER -->
	<!--<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand">InnKeeper</a>
				</div>
				<ul class="nav navbar-nav">
					<li ng-class="{active: isActive('/apartments')}">
						<a href="#/apartments">Rooms and Apartments</a>
					</li>
					<li ng-class="{active: isActive('/reimbursement')}">
						<a href="#/reimbursement">Reimbursements</a>
					</li>
					<li ng-class="{active: isActive('/maintenance')}">
						<a href="#/maintenance">Maintenance</a>
					</li>
					<li ng-class="{active: isActive('/projection')}">
						<a href="#/projection">Projection</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
				</ul>
			</div>
		</nav> -->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand">InnKeeper</a>
				</div>
				<ul class="nav navbar-nav">
					<li ng-class="{active: isActive('/apartments')}">
						<a href="#/apartments">Rooms and Apartments</a>
					</li>
					<li ng-class="{active: isActive('/reimbursement')}">
						<a href="#/reimbursement">Reimbursements</a>
					</li>
					<li class="dropdown" ng-class="{active: isActive('/maintenance')}">
						<a class="dropdown-toggle" data-toggle="dropdown">Maintenance
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/maintenance">View</a></li>
							<li><a href="#/maintenance/manage">Manage</a></li>
						</ul>
					</li>
					<li ng-class="{active: isActive('/projection')}">
						<a href="#/projection">Projection</a>
					</li>
				</ul>
				<div class="container">
				<ul class="nav navbar-nav navbar-right">
					<li ng-if="online"><a href="#/login"><span class="glyphicon glyphicon-log-in">
					</span> Login</a></li>

					<li class="dropdown" ng-if="!online">
						<a class="dropdown-toggle" data-toggle="dropdown">Welcome, {{greetingMessage}}
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li ng-click="logout()"><a href="#/login">Logout</a></li>
						</ul>
					</li>
				</ul>
					</div>
			</div>
		</nav>
	</div>
	<br>
	<div ng-view></div>

	<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.angularjs.org/1.5.8/angular.js"></script>
	<script src="https://code.angularjs.org/1.5.8/angular-route.js"></script>
	<script type="text/javascript" src="app.js"></script>

	<script type="text/javascript" src="loginRegistration/controllers/loginController.js"></script>
	<script type="text/javascript" src="loginRegistration/controllers/registerController.js"></script>
	<script type="text/javascript" src="loginRegistration/services/loginFactory.js"></script>
	<script type="text/javascript" src="loginRegistration/services/registerFactory.js"></script>
</body>
</html>