			<h3>User Login Content</h3>

<div ng-controller="ticket_controller">

  <form ng-submit="submit_ticket();">

    <br/><input ng-model="ticket.category" type="text" placeholder="category" />
    <br/><input ng-model="ticket.description" type="text" placeholder="description" />
    <br/><input ng-model="ticket.startDate" type="text" placeholder="startDate" />
    <br/><input ng-model="ticket.completeDate" type="text" placeholder="completeDate" />
    <br/><input ng-model="ticket.status" type="text" placeholder="status" />
    <br/><input ng-model="ticket.aptID" type="text" placeholder="apartment ID" />
    <br/><input ng-model="ticket.usr" type="text" placeholder="user" />
    <br/><input type="submit" value="Submit POST Request"/>

  </form>

  <br/>
  Go to <a href="http://localhost:1234/alltickets">http://localhost:1234/alltickets</a> to view the current sample database.

  <br/>

  <style>
    table {border: 1px solid #900; width:80%;}
    thead {background-color:black; color:yellow;}
    .table_row:hover {background-color:lightgray;}
  </style>
  
  <table>
    <thead id="table_header">
      <td>Category</td>
      <td>Description</td>
      <td>Start Date</td>
      <td>Complete Date</td>
      <td>Status</td>
      <td>Apartment ID</td>
      <td>User</td>
    </thead>

    <tr class="table_row" ng-repeat="ticket in tickets">
      <td>{{ticket.category}}</td>
      <td>{{ticket.description}}</td>
      <td>{{ticket.startDate}}</td>
      <td>{{ticket.completeDate}}</td>
      <td>{{ticket.status}}</td>
      <td>{{ticket.aptID}}</td>
      <td>{{ticket.usr}}</td>
    </tr>
  </table>
  
</div>
