<div ng-app="ApartmentApp">
   <div class="container">
      <div>
         <ul class="nav nav-tabs">
            <li ><a href="" class="tablinks" ng-click="Lookup()">Apartment Lookup</a></li>
            <li ><a href="" class="tablinks" ng-click="New()">New Apartment</a></li>
            <li ><a href="" class="tablinks" ng-click="Vacant()">Assign Users To Apartment</a></li>
         </ul>
      </div>
      <div class="panel panel-primary" ng-hide="Lookuphide">
         <div class="panel-heading">
            <h2>Apartment lookup</h2>
         </div>
         <div class="panel-body">
            <div class="col-md-5">
               <br> User Name:<input type="text" ng-model="username" ng-keypress="dosomething($event,username)">
               <button class="btn btn-primary" type='button' ng-click="search()">Search</button>
               <div>
                  <p>{{data.addr.num}} {{data.addr.street}}</p>
                  <p>{{data.addr.state}}</p>
                  <p>{{data.addr.city}}</p>
                  <p>{{data.addr.zip}}</p>
                  <button type='button' class="btn btn-primary" ng-show="show" ng-click="changeApt()">Change their Apartment </button><input type="text" ng-hide="hidden" ng-model="NewAptID" placeholder="New AptID"><button type='button' class="btn btn-primary" ng-hide="hidden" ng-click="assign2()">Submit</button>
               </div>
            </div>
            <div class="col-md-5">
               <br> Apartment Id:<input type="text" ng-model="Apartment">
               <button type='button' class="btn btn-primary" ng-click="searchApt()">Search</button>
               <div>
                  <p ng-repeat="x in list">{{x}}
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div class="panel panel-primary" ng-hide="Apartmenthide">
         <div class="panel-heading">
            <h2>New Apartment</h2>
         </div>
         <div class="panel-body">
            <table class="table">
               <tbody>
                  <tr>
                     <td><input type="text" ng-model="aptNum" placeholder="Apartment Number"></td>
                     <td><input type="text" ng-model="Street" placeholder="Street"></td>
                  </tr>
                  <tr>
                     <td><input type="text" ng-model="State" placeholder="State"></td>
                     <td><input type="text" ng-model="City" placeholder="City"></td>
                  </tr>
                  <tr>
                     <td><input type="text" ng-model="Zip" placeholder="Zip"></td>
                     <td> <input type="text" ng-model="SuiteNo" placeholder="SuiteNo"></td>
                  </tr>
                  <tr>
                     <td>
                        <button type='button' class="btn btn-primary" ng-click="anotherApt()">Add Apartment
                        </button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="panel panel-primary" ng-show="hide">
         <div class="panel-heading">
            <h2>Apartment Info</h2>
         </div>
         <div class="panel-body" ng-show="hide">
            <table class="table">
               <tbody>
                  <tr>
                     <td>
                        chairs
                        <select ng-model="chairs">
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                           <option selected="selected" value="6">6</option>
                        </select>
                     </td>
                     <td>
                        beds
                        <select ng-model="beds">
                           <option value=1>1</option>
                           <option value=2>2</option>
                           <option value=3>3</option>
                           <option value=4>4</option>
                           <option value=5>5</option>
                           <option selected="selected" value=6>6</option>
                        </select>
                     </td>
                  </tr>
                  <tr>
                     <td><button type='button' class="btn btn-primary" ng-click="updateApt()">Submit
                        </button>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="panel panel-primary" ng-hide="Userhide">
         <div class="panel-heading">
            Assign New Users Apartments
         </div>
         <div class="panel-body">
            <div class="row">
            <button class="btn btn-primary col-md-offset-1" ng-click="trigger()" ng-hide="sheath">Assign New Users </button>
            </div>
            <div class="row">
            <div class="col-md-5">
               <div ng-repeat="x in newUser track by $index" ng-hide=!"sheath">
                  <div class="col-md-3">{{x}}</div>
                  <button class="btn btn-primary" ng-click="assign(x, newUser, $index)">Assign to apartment</button>
               </div>
            </div>
            <div class="col-md-5">
               <div ng-repeat="apt in aptList track by $index" >
               <p>{{apt.num}} {{apt.street}}</p>
                  <p>{{apt.state}}</p>
                  <p>{{apt.city}}</p>
                  <p>{{apt.zip}}</p>
               </div>
            </div>
            </div>

         </div>
      </div>
   </div>
</div>