<div class="panel panel-primary">
	<div class="panel-heading">
		<h2>Reimbursement History</h2>
	</div><br>
	<div ng-show="emptyHistory">
		<h4 class="text-center">No reimbursements submitted</h4>
	</div>
	<table ng-hide="emptyHistory" class="table">
		<thead>
			<tr>
				<th class="col-md-2">Date</th>
				<th class="col-md-2">Reimbursement Type</th>
				<th class="col-md-5">Description</th>
				<th class="col-md-2">Amount</th>
				<th class="col-md-1">Status</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="line in burseHistory">
				<td>{{line.date | date : 'M/d/yyyy'}}</td>
				<td>{{line.type}}</td>
				<td>{{line.desc}}</td>
				<td>{{line.amount | currency}}</td>
				<td>{{line.status}}</td>
			</tr>
		</tbody>
	</table><br>
</div>
