<div ng-app="reimbursementApp">
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="text-center">Reimbursement Requests</h2>
			</div>
			<div ng-show="emptyHistory" class="panel-body">
				<h4 class="text-center">No Pending Reimbursements</h4>
			</div>
			<div ng-hide="emptyHistory" class="panel-body">
				<div class="col-md-4">
					<div class="checkbox">
						<input type="checkbox" ng-model="pending" ng-click="reset()"> Filter for Pending Reimbursements
					</div>
					<nav class="well">
						<div ng-hide="filteredReimbursements.length">
							<h5 class="text-center">No Pending Reimbursements</h5>
						</div>
						<ul class="nav nav-pills nav-stacked" ng-click="setSidebarActive($event)">
						    <li class="navButton" ng-repeat="line in (burseHistory | filter:filterForPending) as filteredReimbursements" ng-click="display(line._id)">
						    	<a href="">
						    		{{line.date | date : 'M/d/yyyy'}} - {{line.type}}: {{line.desc}} - {{line.amount | currency}}
						    	</a>
						    </li>
						</ul>
					</nav>
				</div>
				
				<div class="col-md-7 col-md-offset-1" ng-show="selected">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-md-2">Username: </label>
							<div class="col-md-9">
								<span>{{displayBurse.usrname}}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2">Name: </label>
							<div class="col-md-9">
								<span>{{displayBurse.name}}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2">Date: </label>
							<div class="col-md-9">
								<span>{{displayBurse.date | date : 'M/d/yyyy'}}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2">Type: </label>
							<div class="col-md-9">
								<span>{{displayBurse.type}}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2">Description: </label>
							<div class="col-md-9">
								<span>{{displayBurse.desc}}</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2">Amount: </label>
							<div class="col-md-9">
								<span>{{displayBurse.amount | currency}}</span>
							</div>
						</div>
						<div class="form-group" ng-hide="completed">
							<label class="col-md-2">Status: </label>
							<div class="col-md-9">
								<span>{{displayBurse.status}}</span>
							</div>
						</div>
						<div class="form-group" ng-show="completed">
						<label class="col-md-2">Status: </label>
							<div class="btn-group col-md-9">
								<button class="btn btn-success" ng-click="makeDecision('Approved')">
									Approve
								</button>
								<button class="btn btn-danger" ng-click="makeDecision('Denied')">
									Deny
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>