 
<div ng-app='maintenanceApp' class= "container">
	<br>
	<br>
	<div class="well" >
		<form class='form-inline' ng-submit='submitNewTicket()'>
			<div class='row'>
				<div class='col-md-4'>
					<div class='form-group'>
						<h2>
							<label for='category'>
								<span class="glyphicon glyphicon-menu-hamburger"></span>Category
							</label>
						</h2>
						<select class= 'form-control' ng-model='ticket.category' required='true'>
							<option value=''>None</option>
	          				<option value ='Broken item'>Broken item</option>
	          				<option value='Missing item'>Missing item</option>
	          				<option value='Request item'>Request item</option>
						</select>
					</div>
				</div>
				<div class='col-md-8'>
					<h2>
						<label for='description'><span class="glyphicon glyphicon-comment"></span> Description: </label>
					</h2>
					<textarea class='form-control' rows='4' cols='50' ng-model='ticket.description' placeholder="Enter details here." ng-required='true'></textarea>
				</div>
				<br>
				<div class='container-fluid'>
					<div class='row'>
						<div class='col-m-1 col-m-offset-8'>
							<input type="submit" class="btn btn-primary" >
						</div>
					</div>
				</div>
			</div>
		</form>	
	</div>
</div>	
<br>
<div class='container'>
	<div class='panel panel-primary'  >
		<div class='panel-heading'>
			<h2>
				<span class="glyphicon glyphicon-list-alt"></span> Active Maintance Requests:
			</h2>
		</div>
	</div>
</div>
<div class='container'>
	<div class='well' >
		<div class='container-fluid'>
			<div class="row">
				<h3>
					<div class="col-sm-4">Category</div>
					<div class="col-sm-4">Description</div>
					<div class="col-sm-4">Status</div>
				</h3>
			</div>
		</div>
  		<div class='container-fluid'>
			<br>
			<div ng-repeat='ones in ticketHistory  '>
				<div class="row">
			  		<div class="col-sm-4">
						{{ones.category}}
					</div>

					<div class="col-sm-4">
						{{ones.description}}
					</div>

					<div class="col-sm-4">
						{{ones.status}}
					</div>
				</div>
				<br>
			</div>
  		</div>
	</div>	
	<br>
</div>




