<div ng-app = 'loginModule'>
    <div class="container" ng-controller= "loginCtrl">
        
            <h1 class="text-center col-md-offset-1">Login</h1><br>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-3">Username:</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" ng-model="loginUsername">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-3">Password:</label>
                    <div class="col-md-3">
                        <input type="password" class="form-control"  ng-model="loginPassword">
                    </div>
                </div>

                <div class="row">
                    <div class="text-center col-md-offset-1">
                        <button class="btn btn-primary" ng-click="login()">Login</button>
                    </div>
                <div class="row">
                    <div class="text-center col-md-offset-1"
                        <font size="4" color="black">Need an account?</font>
                        <br>
                        <a href="#/register">Register</a>
                    </div>
                </div>
            </div>
    </div>
</div>