<!DOCTYPE html>
<html>
<head>
	<title>
	Mockup
	</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
	
	
</head>
<body>

<div ng-app='maintenanceApp'>

<div class= "container" id='maintenance' >
<br>
<br>
<div class="well" tag='newRequest'>
	<form class='form-inline'>
		<div class='row'>
			<div class='col-md-6'>
				<div class='form-group'>

					<h2><label for='category'>Category</label></h2>
					<select class= 'form-control' id='category' value=''>
   						<option>Broken item</option>
    					<option>Missing item</option>
    					<option>Request item</option>
   					</select>
				</div>
   			</div>
  
   		<div class='form-group'>


		<div class='col-md-6'>
   <h2><label for='descript'>Description: </label></h2>
		<textarea class='form-control' rows='3' id='descript' value=''></textarea>
</div>
</div>

<br>
<div class='container-fluid'>
	<div class='row'>

		
<div class='col-sm-1 col-sm-offset-11'>	<button type="button" class="btn btn-primary" ng-click="">Submit</button>	</div>
		<!-- <div class='col-sm-1'>	<button type="button" class="btn btn-success" id="submitBtn">Submit</button></div> -->
	</div>
</div>
		
	</form>	


		</div>
		</div>
		<br>


<!-- dynamic naming -->
<h2>Active Maintance Requests:</h2>
<div class='containter' id='requestList'>
	<div class='well' >
		<div class='container-fluid'>
			<div class="row">
				<h3>
					<div class="col-sm-4">Category</div>
					<div class="col-sm-4">Description</div>
					<div class="col-sm-4">Status</div>
				</h3>
			</div>
		</div>	
	<br>
	
	</div>
</div>




</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</body>
</html>